@media (max-width: 700px){
    .cabecalho{
    background-color: red;
    padding: 30px 0;

    }

    .personagens-slider{
        padding: 0px 15px;
        gap: 10px;
         border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        gap: 10px;
        padding: 20px;

    }
}

@media (max-width: 500px) {
  .cartao {
    width: 100%;
    height: auto;
    position: static;
    opacity: 1;
    margin-bottom: 20px;
  }

  .lista-personagens {
    display: block;
    height: auto;
  }
}
